In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
%matplotlib inline

In [2]:
beer_df=[]

In [3]:
beer_1= pd.read_csv('../data/1st_2_pg_pt1.csv')
beer_df.append(beer_1)

In [4]:
beer_2= pd.read_csv('../data/1st_2_pg_pt2.csv')
beer_df.append(beer_2)

In [5]:
beer_3= pd.read_csv('../data/1st_2_pg_pt3.csv')
beer_df.append(beer_3)

In [6]:
beer_4= pd.read_csv('../data/1st_2_pg_pt4.csv')
beer_df.append(beer_4)

In [7]:
beer_5= pd.read_csv('../data/1st_2_pg_pt5.csv')
beer_df.append(beer_5)

In [8]:
beer=pd.concat(beer_df,ignore_index=True)

In [9]:
beer.head()

#type_rank: ranking within its style
#abv: percent of alcohol per volume
#score:site score for beer
#overall_rank: ranked against all beers on site 
#avg_rating: avg rating across all ratings on site 
#pdev: percentage of deviation with in ratings
#reviews: numer of reviews
#ratings: number of ratings
#status: status of beer 
#date_added: date added to the site

,name,brewery,location,type_rank,type_,rank,abv,score_orank,score,overall_rank,avg_and_pdev,avg_rating,pdev,reviews,ratings,status,date_added
0,Shiner Bock,Spoetzl Brewery,"Texas, United States",BockRanked #96,Bock,Ranked #96,4.5%,"74Ranked #27,967",74,"Ranked #27,967",3.21 | pDev: 19.63%,3.21,19.63%,"1,234","4,564",Active,"Oct 03, 1999"
1,Samuel Adams Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",BockRanked #70,Bock,Ranked #70,5.8%,"82Ranked #24,910",82,"Ranked #24,910",3.64 | pDev: 16.21%,3.64,16.21%,"1,247","3,144",Active,"Nov 20, 2003"
2,Michelob AmberBock,Anheuser-Busch,"Missouri, United States",BockRanked #100,Bock,Ranked #100,5.1%,"68Ranked #28,470",68,"Ranked #28,470",2.91 | pDev: 22.34%,2.91,22.34%,732,"1,970",Active,"Aug 17, 2001"
3,Samuel Adams Cherry Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",BockRanked #85,Bock,Ranked #85,5.8%,"79Ranked #26,898",79,"Ranked #26,898",3.47 | pDev: 19.6%,3.47,19.6%,188,875,Active,"Apr 11, 2011"
4,Uff-da,New Glarus Brewing Company,"Wisconsin, United States",BockRanked #27,Bock,Ranked #27,6.7%,"86Ranked #19,006",86,"Ranked #19,006",3.83 | pDev: 10.97%,3.83,10.97%,342,663,Active,"Jan 16, 2002"

In [10]:
beer=beer.drop_duplicates().reset_index(drop=True)

In [11]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11916 entries, 0 to 11915
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          11916 non-null  object
 1   brewery       11916 non-null  object
 2   location      11900 non-null  object
 3   type_rank     11916 non-null  object
 4   type_         11916 non-null  object
 5   rank          11916 non-null  object
 6   abv           11916 non-null  object
 7   score_orank   11916 non-null  object
 8   score         11916 non-null  object
 9   overall_rank  11916 non-null  object
 10  avg_and_pdev  11916 non-null  object
 11  avg_rating    11916 non-null  float64
 12  pdev          11916 non-null  object
 13  reviews       11916 non-null  object
 14  ratings       11916 non-null  object
 15  status        11916 non-null  object
 16  date_added    11916 non-null  object
dtypes: float64(1), object(16)
memory usage: 1.5+ MB

In [12]:
beer['abv']=beer['abv'].str.rstrip('%')

In [13]:
beer['pdev']=beer['pdev'].str.rstrip('%')

In [23]:
beer['reviews']=beer['reviews'].str.replace(',','')

In [25]:
beer['ratings']=beer['ratings'].str.replace(',','')

In [26]:
beer.head(2)

,name,brewery,location,type_rank,type_,rank,abv,score_orank,score,overall_rank,avg_and_pdev,avg_rating,pdev,reviews,ratings,status,date_added
0,Shiner Bock,Spoetzl Brewery,"Texas, United States",BockRanked #96,Bock,Ranked #96,4.5,"74Ranked #27,967",74,"Ranked #27,967",3.21 | pDev: 19.63%,3.21,19.63,1234,4564,Active,"Oct 03, 1999"
1,Samuel Adams Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",BockRanked #70,Bock,Ranked #70,5.8,"82Ranked #24,910",82,"Ranked #24,910",3.64 | pDev: 16.21%,3.64,16.21,1247,3144,Active,"Nov 20, 2003"

In [27]:
beer['rank']=beer['rank'].str.lstrip('Ranked')

In [28]:
beer['overall_rank']=beer['overall_rank'].str.lstrip('Ranked')

In [29]:
beer

,name,brewery,location,type_rank,type_,rank,abv,score_orank,score,overall_rank,avg_and_pdev,avg_rating,pdev,reviews,ratings,status,date_added
0,Shiner Bock,Spoetzl Brewery,"Texas, United States",BockRanked #96,Bock,#96,4.5,"74Ranked #27,967",74,"#27,967",3.21 | pDev: 19.63%,3.21,19.63,1234,4564,Active,"Oct 03, 1999"
1,Samuel Adams Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",BockRanked #70,Bock,#70,5.8,"82Ranked #24,910",82,"#24,910",3.64 | pDev: 16.21%,3.64,16.21,1247,3144,Active,"Nov 20, 2003"
2,Michelob AmberBock,Anheuser-Busch,"Missouri, United States",BockRanked #100,Bock,#100,5.1,"68Ranked #28,470",68,"#28,470",2.91 | pDev: 22.34%,2.91,22.34,732,1970,Active,"Aug 17, 2001"
3,Samuel Adams Cherry Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",BockRanked #85,Bock,#85,5.8,"79Ranked #26,898",79,"#26,898",3.47 | pDev: 19.6%,3.47,19.6,188,875,Active,"Apr 11, 2011"
4,Uff-da,New Glarus Brewing Company,"Wisconsin, United States",BockRanked #27,Bock,#27,6.7,"86Ranked #19,006",86,"#19,006",3.83 | pDev: 10.97%,3.83,10.97,342,663,Active,"Jan 16, 2002"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11911,Cuvée De Ranke,Brouwerij Brasserie De Ranke,Belgium,Wild AleRanked #307,Wild Ale,#307,7,"93Ranked #3,335",93,"#3,335",4.19 | pDev: 10.02%,4.19,10.02,139,385,Active,"May 22, 2008"
11912,Detritivore,Jester King Brewery,"Texas, United States",Wild AleRanked #186,Wild Ale,#186,5.5,"95Ranked #1,930",95,"#1,930",4.26 | pDev: 7.04%,4.26,7.04,36,384,Active,"Jul 08, 2014"
11913,Elderberry,Cascade Brewing / Raccoon Lodge & Brewpub,"Oregon, United States",Wild AleRanked #514,Wild Ale,#514,7.75,"91Ranked #7,675",91,"#7,675",4.07 | pDev: 7.86%,4.07,7.86,58,376,Active,"Jul 25, 2012"
11914,Manhattan NW,Cascade Brewing / Raccoon Lodge & Brewpub,"Oregon, United States",Wild Ale,Wild Ale,Na,10.3,95,95,Na,4.27 | pDev: 6.79%,4.27,6.79,52,374,Active,"Apr 06, 2013"
11915,Sobrehumano Palena'ole,Jolly Pumpkin Artisan Ales,"Michigan, United States",Wild AleRanked #499,Wild Ale,#499,6,"91Ranked #7,232",91,"#7,232",4.08 | pDev: 9.07%,4.08,9.07,87,374,Active,"Jun 20, 2012"

In [30]:
beer[['abv','score','avg_rating','pdev','reviews','ratings']]=beer[['abv','score','avg_rating','pdev','reviews','ratings']].replace('Na',np.nan)

In [31]:
# beer['abv'].unique()
beer['abv']=beer['abv'].replace('Not listed',np.nan)
# # using apply method
# df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric)

In [36]:
beer[['abv','score','avg_rating','pdev']]=beer[['abv','score','avg_rating','pdev']].astype(float)

In [37]:
beer[['reviews','ratings']]=beer[['reviews','ratings']].astype(int)

In [38]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11916 entries, 0 to 11915
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          11916 non-null  object
 1   brewery       11916 non-null  object
 2   location      11900 non-null  object
 3   type_rank     11916 non-null  object
 4   type_         11916 non-null  object
 5   rank          11916 non-null  object
 6   abv           11803 non-null  float64
 7   score_orank   11916 non-null  object
 8   score         10294 non-null  float64
 9   overall_rank  11916 non-null  object
 10  avg_and_pdev  11916 non-null  object
 11  avg_rating    11916 non-null  float64
 12  pdev          11916 non-null  float64
 13  reviews       11916 non-null  int64
 14  ratings       11916 non-null  int64
 15  status        11916 non-null  object
 16  date_added    11916 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 1.5+ MB

In [41]:
beer= beer.drop(columns = ['type_rank','score_orank','avg_and_pdev'])

In [42]:
beer

,name,brewery,location,type_,rank,abv,score,overall_rank,avg_rating,pdev,reviews,ratings,status,date_added
0,Shiner Bock,Spoetzl Brewery,"Texas, United States",Bock,#96,4.50,74.0,"#27,967",3.21,19.63,1234,4564,Active,"Oct 03, 1999"
1,Samuel Adams Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",Bock,#70,5.80,82.0,"#24,910",3.64,16.21,1247,3144,Active,"Nov 20, 2003"
2,Michelob AmberBock,Anheuser-Busch,"Missouri, United States",Bock,#100,5.10,68.0,"#28,470",2.91,22.34,732,1970,Active,"Aug 17, 2001"
3,Samuel Adams Cherry Chocolate Bock,Boston Beer Company (Samuel Adams),"Massachusetts, United States",Bock,#85,5.80,79.0,"#26,898",3.47,19.60,188,875,Active,"Apr 11, 2011"
4,Uff-da,New Glarus Brewing Company,"Wisconsin, United States",Bock,#27,6.70,86.0,"#19,006",3.83,10.97,342,663,Active,"Jan 16, 2002"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11911,Cuvée De Ranke,Brouwerij Brasserie De Ranke,Belgium,Wild Ale,#307,7.00,93.0,"#3,335",4.19,10.02,139,385,Active,"May 22, 2008"
11912,Detritivore,Jester King Brewery,"Texas, United States",Wild Ale,#186,5.50,95.0,"#1,930",4.26,7.04,36,384,Active,"Jul 08, 2014"
11913,Elderberry,Cascade Brewing / Raccoon Lodge & Brewpub,"Oregon, United States",Wild Ale,#514,7.75,91.0,"#7,675",4.07,7.86,58,376,Active,"Jul 25, 2012"
11914,Manhattan NW,Cascade Brewing / Raccoon Lodge & Brewpub,"Oregon, United States",Wild Ale,Na,10.30,95.0,Na,4.27,6.79,52,374,Active,"Apr 06, 2013"
11915,Sobrehumano Palena'ole,Jolly Pumpkin Artisan Ales,"Michigan, United States",Wild Ale,#499,6.00,91.0,"#7,232",4.08,9.07,87,374,Active,"Jun 20, 2012"

In [43]:
beer = beer.rename(columns={'type_': 'sub_type'})

In [44]:
beer.head(1)

,name,brewery,location,sub_type,rank,abv,score,overall_rank,avg_rating,pdev,reviews,ratings,status,date_added
0,Shiner Bock,Spoetzl Brewery,"Texas, United States",Bock,#96,4.5,74.0,"#27,967",3.21,19.63,1234,4564,Active,"Oct 03, 1999"

In [ ]:
def type_(sub_type):
    if sub_type == [['Bock', 'Doppelbock', 'Eisbock', 'Maibock', 'Weizenbock']]:
        return 'Bock'
    elif sub_type  == [['Altbier' , 'American Brown Ale', 'Belgian Dark Ale', 'English Brown Ale', 'English Dark Mild Ale']]:
        return '18-24'
    elif sub_type >= 25 and age < 35:
        return '25-34'
    elif sub_type >= 35 and age < 45:
        return '35-44'
    elif sub_type >= 45 and age < 55:
        return '45-54'
    elif sub_type >= 55 and age < 65:
        return '55-64'
    else:
        return 'Na'